<div id="show-page">
  <div id="cocktail-card">
    <div class="photo">
      <% if @cocktail.photo.attached? %>
        <%= cl_image_tag @cocktail.photo.key,height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="drink_description">
      <div class="content" style="display: flex; justify-content: space-evenly;">
        <h1><%= @cocktail.name %></h1>
        <p><%= link_to ('<i class="far fa-edit"></i>').html_safe, edit_cocktail_path(@cocktail) %></p>
      </div>
      <% @cocktail.doses.each do |dose|%>
        <div class="content" style="display: flex; justify-content: space-evenly;">
          <p><%= dose.description %> / <%= dose.ingredient.name %> </p>
          <div>
            <%= link_to ('<i class="fas fa-trash"></i>').html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure you would like to DELETE " + dose.description + " / " + dose.ingredient.name } %>
            <%= link_to ('<i class="far fa-edit"></i>').html_safe, edit_dose_path(dose) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form">
    <%= simple_form_for [@cocktail, @dose] do |f|%>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit %>
    <% end %>
  </div>
  <p class="back-button"><%= link_to ('<i class="fas fa-arrow-circle-left"></i>').html_safe, root_path %><p>
</div>

